<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,600,600italic,700,700italic,300italic' rel='stylesheet' type='text/css'>
<meta charset="utf-8">
<title>Caritas Medical Center | Providing Excellent Healthcare, with Compassion - The Caritas Way</title>
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link href="/assets/less/animate.less-master/animate.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="/assets/js/woothemes-FlexSlider-06b12f8/flexslider.css" type="text/css" media="screen" />
<link rel="stylesheet" href="/assets/js/prettyPhoto_3.1.5/prettyPhoto.css" type="text/css" media="screen" />
<link href="/assets/style.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="/assets/fonts/font-awesome/css/font-awesome.min.css" media="screen" >
<!--[if IE 7]>
    <link rel="stylesheet" href="/assets/fonts/font-awsome/css/font-awesome-ie7.min.css">
    <![endif]-->
<script type="text/javascript" src="/assets/js/modernizr.custom.48287.js"></script>
<!-- Fav and touch icons -->
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/assets/apple-touch-icon-114x114-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="/assets/apple-touch-icon-72x72-precomposed.png">
<link rel="apple-touch-icon-precomposed" href="/assets/apple-touch-icon-57x57-precomposed.png">
<link rel="shortcut icon" href="/assets/favicon.png">
</head>