<div class="container">
     <div class="navbar">
          <div class="navbar-inner"> 
               <%= render "/layouts/title_logo_and_adaptive" %>
                    <div class="nav-collapse collapse">
                         <%= render "/refinery/menu" %>
                    </div>
          </div>
     </div>
     <div id="social_media_wrapper"> 
          <%= render "/layouts/social_media" %>
     </div>
     
</div>