<div class="container">
                    <div class="row">
                         <div class="span4 footer_teaser">
                              <h3>Contact us</h3>
                              <p></p>
                              <p><i class="icon-phone"></i> 706.777.7777</p>
                              <p><i class="icon-print"></i> 706.777.7777</p>
                              <p><i class="icon-envelope"></i><a href="/contact"> Email</a></p>
                         </div>
                         <div class="span4 footer_teaser">
                              <% @items = Refinery::News::Item.latest(2) %>
                              <%= render :partial => 'refinery/news/items/recent_posts'%>
                              
                         </div>
                         <div class="span4 footer_teaser" id="latest-flickr-images">
                              <h3>Locations</h3>
                              <a href="/practice-locations/stockbridge-location">Prince Avenue</a><br />
                              <a href="/practice-locations/atlanta-location">Epps Bridge</a>
                              
                         </div>
                    </div>
               </div>          
               <section id="copyright">
                    <div class="container">
                         <div class="row">
                              <div class="span6"> Copyright &copy;2013 all rights reserved</div>
                              <div class="span6 text-right"> Designed & Developed by <a href="mailto:charlesabety@yahoo.com">Charles Abety</a> </div>
                         </div>
                    </div>
               </section>
