
  <a href="#" id="logo"><img src="logo1.jpg"></a>
  <a href="#" id="st-joe"><img src="st-joseph.jpg"></a>
  <a href="#" id="st-joe-text">St. Joseph Catholic Church</a>

<div class="container">
     <div class="navbar">
          <div class="navbar-inner"> 
               <%= render "/layouts/title_logo_and_adaptive" %>
                    <div class="nav-collapse collapse">
                         <%= render "/refinery/menu" %>
                    </div>
          </div>
     </div>
     
       
</div>