<h2 class="section_header">Recent Work or Projects from Portfolio</h2>
               <div class="portfolio_strict row">
                    <div class="portfolio_item span3">
                         <div class="portfolio_photo" style="background-image:url(/assets/images/portfolio/a1.jpg)"> <a href="portfolio_item.html"> <i class="icon-2x icon-external-link"></i>
                              <p>Description of the project dapibus, tellus ac cursus commodo, mauesris condime ntum nibh, ut fermentum...</p>
                              </a> </div>
                         <div class="portfolio_description">
                              <h3><a href="portfolio_item.html">Lorem Ipsum</a></h3>
                              <p>artists</p>
                         </div>
                    </div>
                    <div class="portfolio_item span3">
                         <div class="portfolio_photo" style="background-image:url(/assets/images/portfolio/t5.jpg)"> <a href="portfolio_item.html"> <i class="icon-2x icon-external-link"></i>
                              <p>Description of the project dapibus, tellus ac cursus commodo, mauesris condime ntum nibh, ut fermentum...</p>
                              </a> </div>
                         <div class="portfolio_description">
                              <h3><a href="portfolio_item.html">Lorem Ipsum</a></h3>
                              <p>travel</p>
                         </div>
                    </div>
                    <div class="portfolio_item span3">
                         <div class="portfolio_photo" style="background-image:url(/assets/images/portfolio/p3.jpg)"> <a href="portfolio_item.html"> <i class="icon-2x icon-external-link"></i>
                              <p>Description of the project dapibus, tellus ac cursus commodo, mauesris condime ntum nibh, ut fermentum...</p>
                              </a> </div>
                         <div class="portfolio_description">
                              <h3><a href="portfolio_item.html">Lorem Ipsum</a></h3>
                              <p>people</p>
                         </div>
                    </div>
                    <div class="portfolio_item span3">
                         <div class="portfolio_photo" style="background-image:url(/assets/images/portfolio/t4.jpg)"> <a href="portfolio_item.html"> <i class="icon-2x icon-external-link"></i>
                              <p>Description of the project dapibus, tellus ac cursus commodo, mauesris condime ntum nibh, ut fermentum...</p>
                              </a> </div>
                         <div class="portfolio_description">
                              <h3><a href="portfolio_item.html">Lorem Ipsum</a></h3>
                              <p>poetic</p>
                         </div>
                    </div>
               </div>