<div id="main_flexslider" class="flexslider">
          <ul class="slides">
               <li class="item"  style="background-image: url(/assets/rcz-waiting-area1.png)">
                    <div class="container">
                         <div class="carousel-caption">
                              <h1><strong>Caritas medical center... </strong><br>
                                
                              </h1>
                              <p class="lead inverse">a new dawn on <strong>Kidney and hypertension care </strong>in the southern Crescent. </p>
                              
                          </div>
                    </div>
               </li>
               <li class="item"  style="background-image: url(/assets/rcz-waiting-area4.png)">
                    <div class="container">
                         <div class="carousel-caption">
                              <h1><strong>Caritas </strong> means <strong>Love or Compassion </strong> in latin...<br>
                                
                              </h1>
                              <p class="lead inverse">this inspires <strong>Everything </strong>we do at <strong>Caritas</strong>. </p>
                         </div>
                    </div>
               </li>
               <li class="item"  style="background-image: url(/assets/rcz-waiting-area3.png)">
                    <div class="container">
                         <div class="carousel-caption">
                              <h1>At <strong>Caritas medical center, </strong><br>
                                
                              </h1>
                              <p class="lead inverse">we practice <strong>High tech, High touch</strong> medicine. </p>
                         </div>
                    </div>
               </li>
               <li class="item"  style="background-image: url(/assets/rsz-vera.png)">
                    <div class="container">
                         <div class="carousel-caption">
                              <h1>We call providing <strong>Excellent Care </strong> with <strong>Compassion...</strong>
                                
                              </h1>
                              <p class="lead inverse"><strong>"The Caritas Way"</strong>. </p>
                         </div>
                    </div>
               </li>
               <li class="item"  style="background-image: url(/assets/rsz-staff.png)">
                    <div class="container">
                         <div class="carousel-caption">
                              <h1><strong>Medicine is a science</strong> but the <strong>practice of medicine is an Art.</strong></h1>
                              <p class="lead inverse"><strong>At Caritas, </strong>we strive everyday to improve the <strong>"art of delivering the Science"</strong>.</p>
                         </div>
                    </div>
               </li>
          </ul>
     </div>