<div class="full_page_photo" style="background-image: url(/assets/rcz-waiting-area3.png);">
     <div class="container">
          <section class="call_to_action">
               <h4 class="animated bounceInDown"><strong>Caritas</strong> means<strong> love, compassion</strong> in latin</h4>
               <h4 class="animated bounceInUp">This <strong>inspires everything</strong> we do at <strong>Caritas Medical Center</strong></h4>
               <h3 class="animated bounceInDown">In fact, we call providing excellent healthcare with compassion <strong>"The Caritas Way".</strong></h3>
          </section>
     </div>
</div>



    
